In [37]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
dfn = pd.read_csv("/content/clients.csv")

In [39]:
dfn.head()

,id,Gender,Age,Customer Type,Type of Travel,Class,Flight Distance,Departure Delay in Minutes,Arrival Delay in Minutes,Inflight wifi service,...,Online boarding,Seat comfort,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,satisfaction
0,1,Male,48.0,disloyal Customer,Business travel,Business,821.0,2.0,5.0,3.0,...,3.0,5.0,5.0,3.0,2.0,5.0,4.0,5.0,5.0,neutral or dissatisfied
1,2,Female,35.0,Loyal Customer,Business travel,Business,821.0,26.0,39.0,2.0,...,5.0,4.0,5.0,5.0,5.0,5.0,3.0,5.0,5.0,satisfied
2,3,Male,41.0,Loyal Customer,Business travel,Business,853.0,0.0,0.0,4.0,...,5.0,5.0,3.0,3.0,3.0,3.0,4.0,3.0,5.0,satisfied
3,4,Male,50.0,Loyal Customer,Business travel,Business,1905.0,0.0,0.0,2.0,...,4.0,5.0,5.0,5.0,5.0,5.0,3.0,5.0,4.0,satisfied
4,5,Female,49.0,Loyal Customer,Business travel,Business,3470.0,0.0,1.0,3.0,...,5.0,4.0,3.0,3.0,4.0,3.0,3.0,3.0,5.0,satisfied

In [40]:
df = dfn[:]

In [41]:
df.isnull().sum()

id                                     0
Gender                               331
Age                                  316
Customer Type                         77
Type of Travel                       101
Class                                116
Flight Distance                       94
Departure Delay in Minutes           107
Arrival Delay in Minutes             509
Inflight wifi service                 45
Departure/Arrival time convenient     49
Ease of Online booking                43
Gate location                         38
Food and drink                        50
Online boarding                       46
Seat comfort                          48
Inflight entertainment                47
On-board service                      44
Leg room service                      46
Baggage handling                      48
Checkin service                       42
Inflight service                      63
Cleanliness                           37
satisfaction                           0
dtype: int64

In [42]:
s = (df.dtypes == 'object')
object_cols = list(s[s].index)
print("Categorical variables:")
print(object_cols)
print('No. of. categorical features: ',
      len(object_cols))

Categorical variables:
['Gender', 'Customer Type', 'Type of Travel', 'Class', 'satisfaction']
No. of. categorical features:  5

In [43]:
df = df.dropna()

In [44]:
df['Customer Type'] = df['Customer Type'].map({'Loyal Customer': 1, 'disloyal Customer': 0})
df['Type of Travel'] = df['Type of Travel'].map({'Business travel': 1, 'Personal Travel': 0})
df['Class'] = df['Class'].map({'Business': 0, 'Eco': 1, 'Eco Plus': 2})
df['Gender'] = df['Gender'].map({'Male': 1, 'Female': 0})
df['satisfaction'] = df['satisfaction'].map({'satisfied': 1, 'neutral or dissatisfied': 0, '-':0})

In [45]:
X = df.drop(['satisfaction', 'id'], axis=1)
y = df['satisfaction']

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
X_train.shape, X_test.shape

((95703, 22), (31901, 22))

In [47]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=4000)

model.fit(X_train, y_train)

pred = model.predict(X_test)

In [48]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, pred)

array([[18010,  2806],
       [ 3026,  8059]])